h1 {
    text-align: center;
  }
  .item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }
  .card {
    /* color: #CCB07C;
    background-color: #926239; */
    text-align: center;
    color:#926239;
    padding: 10px;
    width: 400px;
  
    border-radius: 15px;
    padding: 1em;
    box-shadow: #CCB07C 0px 2px 8px 0px;
  }
  .logo{
    width:3rem;
}

