body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=email] ,input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #926239;
  box-sizing: border-box;
  color: #CCB07C;
}
.label{
  color: #CCB07C;
}
button {
  background-color: #926239;
  color: #CCB07C;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;

  width: 100%;
}
h2{
  color: #926239;
}



.container {
  padding: 16px;
}

